.main {
  border-radius: 20px;
  backdrop-filter: blur(40px);
  border: 1px dotted white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 500px;
}
