.logoContainer {
  text-align: center;
  padding: 20px;
}

.welcomeText {
  color: #28a745; /* A nice green color */
  font-size: 1.5em;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Bruno Ace SC", serif;
  font-weight: bolder;
  margin-top: 0.1em;
  font-size: 3em;
  color: #333;
}
